<div>
    <h2>
        <span jhiTranslate="demoApp.blood_pressure.home.title">Blood Pressures</span>
        <button class="btn btn-primary float-right create-blood-pressure" [routerLink]="['/', { outlets: { popup: ['blood-pressure-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="demoApp.blood_pressure.home.createLabel">
            Create new Blood Pressure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="blood_pressures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="demoApp.blood_pressure.timestamp">Timestamp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="systolic"><span jhiTranslate="demoApp.blood_pressure.systolic">Systolic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diastolic"><span jhiTranslate="demoApp.blood_pressure.diastolic">Diastolic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="demoApp.blood_pressure.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let blood_pressure of blood_pressures ;trackBy: trackId">
                <td><a [routerLink]="['../blood-pressure', blood_pressure.id ]">{{blood_pressure.id}}</a></td>
                <td>{{blood_pressure.timestamp | date:'medium'}}</td>
                <td>{{blood_pressure.systolic}}</td>
                <td>{{blood_pressure.diastolic}}</td>
                <td>
                    {{blood_pressure.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../blood-pressure', blood_pressure.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blood-pressure/'+ blood_pressure.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blood-pressure/'+ blood_pressure.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
